div.ust {
    height: 100px;
    width: 1325px;
    background: red;
    overflow: auto;
  }

  div.sol {
    height: 100px;
    float: left;
    width: 660px;
    background: yellow;
    overflow: auto;
    line-height: 75px;
    text-align: center;
  }

  div.sag {
    height: 100px;
    float: right;
    width: 665px;
    background: green;
    overflow: auto;
  }

  #alt {
    overflow: auto;
    height: 100px;
    width: 1325px;
    background: black;
  }