<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <div class="sol">
      <input type="text" class="text" placeholder="English word"/><br><br><br>
      <input type="text" class="text" placeholder="Turkish word"/><br><br><br>
      <textarea  class="textarea" placeholder="English description of the word"></textarea><br><br><br><br><br><br>
      <textarea  class="textarea" placeholder="Turkish description of the word"></textarea><br><br><br><br><br><br>
      <button class="button"><a href="http://localhost:5000">Yenile</a></button><br><br><br>
      <input type="submit" class="button" value="Save" />
    </div>
    <div class="sag" id="saglam">
      <div class="txt">You can use the overflow property when you 
        want to have better control of the layout. 
        The overflow property specifies what happens 
        if content overflows an element's box.
      </div>
    </div>
</div>
</body>
</html>
